
.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.btn {
  padding: 10px 20px;
  background: $secondry-color-300;
  color: white;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
}

.error {
  border: 1px solid $error;
  padding: 5px;
  margin-top: 10px;
  color: $error;
  background-color: $error-lighten;
}

.info {
  border: 1px solid $info;
  padding: 5px;
  margin-top: 10px;
  color: $info;
  background-color: $info-lighten;
}
